.advantages {
  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @nav-border-grey;
  }

  @media (min-width: @desktop-width) {
    border-bottom: none
  }

  &--margin {
    margin-bottom: 45px;

    @media (min-width: @tablet-width) {
      margin-bottom: 43px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 11px;
    }
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 38px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.advantages__list {
  .list-reset;

  @media (min-width: @tablet-width) {
    padding-bottom: 46px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 37px;
    counter-reset: section;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 75px;
    padding-bottom: 0;
  }
}

.advantages__item {

  @media (max-width: @mobile-width-only) {
    &--result br{
      display: none;
    }
  }
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: @heavy-grey;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: "";
    display: block;
    flex-shrink: 0;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    background-color: @basic-green;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--content::before {
    background-image: url("../img/icons/leaf.svg");
  }

  &--form::before {
    background-image: url("../img/icons/tub.svg");
  }

  &--meal::before {
    background-image: url("../img/icons/eat.svg");
  }

  &--result::before {
    background-image: url("../img/icons/alarm.svg");
  }

  @media (min-width: @tablet-width) {
    padding-top: 40px;
    margin-bottom: 0;
    height: 280px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    line-height: 24px;


    &--content {
      width: 230px;
    }

    &--form {
      width: 246px;
    }

    &--meal {
      width: 247px;
    }

    &--result {
      width: 249px;
    }

    &::before {
      width: 80px;
      height: 80px;
      margin-right: 0;
      margin-bottom: 32px;
    }

    &::after {
      counter-increment: section;
      content: counter(section);
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      font-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: @background-grey;
    }
  }
}
