.button {
  display: inline-block;
  font: inherit;
  text-transform: uppercase;
  text-decoration: none;
  appearance: none;

  &--green {
    color: @basic-white;
    background-color: @basic-green;

    &:hover {
      background-color: @dark-green;
    }
    &:active {
      color: fade(@basic-white, 30%);
    }
  }
}
