.logo {
  @media (max-width: @mobile-width-only) {
    padding-left: 2px;

    &--header {
      padding-bottom: 22px;
    }
  }

  @media (min-width: @tablet-width) {

    &--header {
      flex-shrink: 0;
    }
  }
}

.logo__link {
  display: flex;
  align-items: center;
}

.logo__image {
  display: block;
  width: 34px;
  height: 38px;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.logo__text {
  width: 101px;
  height: 18px;
  transform: translateX(-13px);
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
